PORT=5001
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxx.mongodb.net/?appName=Cluster0
JWT_SECRET=smart_inventory_super_secret_key_2026_change_in_production
ML_API_URL=http://localhost:5002
MQTT_BROKER=wss://your-hivemq-host:8884/mqtt
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password
NODE_ENV=development
